.sidebar_item {
    height: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 5rem 1fr;
    text-decoration: none;
    color: inherit;
    padding: 0 2.5rem;
    font-size: 14px;
}
.sidebar_item:hover {
    background-color: lightpink;
}
.sidebar_item.selected {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.sidebar_item_icon {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar_item_title {
    display: flex;
    align-items: center;
}