.navbar {
    height: var(--navbar-height);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: lightskyblue;
    z-index: 1;
}