.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    background-color: lightcoral;
    height: 100%;
    z-index: 2;
}
.sidebar_logo {
    max-width: var(--sidebar-width);
    height: auto;
}