*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 5rem;
  --sidebar-width: 25rem;
}
#root {
  height: inherit;
}